.banner {
    width: 100%;
}

#navbar {
    font-size: 19px;
}

.card_area {
    background: #f2dfec;
    margin: 0;
    padding: 0;
}

div.card {
    margin-top: 4px;
    margin-bottom: 3px;
    width: 249px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.header {
    background-color: #4CAF50;
}

.card_container {
    padding: 5px;
    background: #4CAF50;
    font-size: 15px;
}

.card_container p{
    margin: 0;
    padding: 0;
}

.list {
    margin: 10px 5px 0px 20px;
}

.list li a {
    display: block;
}

.list li a:hover {
    text-decoration: none;
}

#slider {
    padding: 0;
}

.marquee_area {
    background: #0fb9b1;
    font-size: 18px;
    font-weight: bold;
}

.l_news {
    margin: 0;
    padding: 10px;
    display: inline-block;
    background: #273c75;
    border-top-right-radius: 40px;
    color: #d1d8e0;
}

.l_title {
    margin: 0;
}

.marq {
    display: inline-block;
    float: right;
    padding: 6px;
    width: 100%;
}

.mar {
    display: inline-block;
    width: 100%;
}

.about_area {
    width: 100%;
    background: #6D214F;
}

.about_pra {
    padding: 60px 0;
    text-align: center;
    margin: 0;
    color: white;
    line-height: 28px;
    font-weight: 500;
}

.feature_area {
    padding: 20px;
}

.feature_title {
    margin: 5px 0;
}

.feature_title h4{
    background: #980B1A;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.feature_area h4:hover{
    background: rgba(0,0,0,0.7);
}

.content {
    min-height: 400px;
}

.mar_title {
    padding: 15px 0;
    margin: 0;
}

.mar_content {
    height: 290px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: -1;
}

.mar_content p{
    margin: 10px;
    display: block;
    z-index: -1;
}

.content {
    background: url(image/2.jpg);
}

.con_img img {
    width: 100%;
}

.footer_area {
    min-height: 100px;
    background: #eb3b5a;
    padding: 40px 0 35px 0;
}

.footer_area p, .footer_area a{
    color: white
}

.copy_area {
    background: #eb3b5a;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.5);
}

.copy {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.powered {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.powered a{
    color: #d1d8e0;
}
/*Go to top*/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 32px;
    text-align: center;
    line-height: 27px;
    background: #47484B;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    color: white;
    font-size: 24px;
    font-weight: 900;
}
#back-to-top:hover {
    background: #1D1F21;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

/*---------scrollbar----------*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #b41228; 
}

::-webkit-scrollbar-thumb:hover {
    background: #980b1a; 
}